<% include ../partials/header %>




  <div class="container">
 <div class='addCamp'>
   <a href='/campgrounds/new'>Create new campground</a>
   </div>

    <div class="campgrounds">
      <% campgrounds.forEach(x => { %>
        <div class="campground">
          <a href= '/campgrounds/<%= x.id %>' >
          <img src = <%=x.image%>  >
          </a>
            <h2 class="campgroundName"><%= x.name %></h2>
        </div>
        <div class='mdl-card'>
          <div class='mdl-card__title mdl-card--expand' background='/images/camp1.jpg'>
            <h2 class='mdl-card__title-text'>
              <%= x.name %>
            </h2>
          </div>
        </div>
      <% }) %>
    </div>
<h4><%= currentUser %><h4>
  </div>
    <script src="/script.js"></script>
  </body>
